{% load static %}
-<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'webCalc/style.css' %}">
    <title>Home</title>
</head>
<body>


<h1 class="Blue stuff-box">HELLO THERE</h1>
<div class ="White stuff-box">
    <p>I've made some pretty groovy boxes here to show you my HTML and CSS knowledge.</p>

</div>
<div class = "Yellow stuff-box">
    <p>I know it's kind of a flex...</p>
    <p>Here's a link to a fresh page too!</p>
    <a href="calculator">Calculator page</a>

</div>
</body>
</html>